@font-face {
  font-family: CercoDEMO-Medium;
  src: url(../fuentes/CercoDEMO-Medium.otf);
}

@font-face {
  font-family: CercoDEMO-Regular;
  src: url(../fuentes/CercoDEMO-Regular.otf);
}

@font-face {
  font-family: CercoDEMO-Light;
  src: url(../fuentes/CercoDEMO-Light.otf);
}

*{
  font-family: 'Open Sans', sans-serif;
}

.contactForm{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #383a57;
  color: white;
}

.colorLetra{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

