@font-face {
    font-family: CercoDEMO-Medium;
    src: url(../fuentes/CercoDEMO-Medium.otf);
  }
  
  @font-face {
    font-family: CercoDEMO-Regular;
    src: url(../fuentes/CercoDEMO-Regular.otf);
  }
  
  @font-face {
    font-family: CercoDEMO-Light;
    src: url(../fuentes/CercoDEMO-Light.otf);
  }
  
html{
    font-family: CercoDEMO-Regular;
    scroll-behavior: smooth;
}
body{
    background-color: #12121a;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.detailsPage{
    position: absolute;
    color:white;
    margin-top: 100px;
    margin-left: 60px;
}

.inside-detailsPage{
    line-height:2;
}

.inside-detailsPage h1{
    font-size: 40px;
}

.inside-detailsPage p{
    font-size: 17px;
}

span{
    color:#8D99AE;
    font-weight: bold;

}

.line1{
    height: 2px;
    background-color:rgb(18, 241, 241);
    width: 12%;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}

.btn1{
    margin-top: 30px;
}

.btn1 a{
    background-color:#2B2D42;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 30px;
}

.btn1 a:hover{
    background: black;
    color: teal;
}

.btn1 i{
    color: black;
    padding: 0px 10px;
}

.btn1 i:hover{
    color: white;
}

.poster{
    margin-top: 50px;
    margin-right: 90px;
}

.poster img{
    height:400px;
    width: 500px;
    float: right;
    border-radius: 10px;
}

.scroll{
    position: fixed;
    width: 50px;
    height: 50px;
    background: teal;
    border-radius: 50px;
    bottom: 100px;
    right: 50px;
    text-decoration: none;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
}
.scroll i{
    color: black;
}


.detailsMovie{
    font-family: CercoDEMO-Regular;
    margin-right: 30px;
    margin-top: 50px;
    text-align: justify
}

.heading1{
    color: white;
    line-height: 1.5;
}
.heading1 h4{
    font-size: 15px;
}
.heading1 h6{
    font-size: 12px;
}
.btn2{
    margin-top: -30px;
    margin-left: 150px;
}
.btn2 a{
    font-size: 13px;
    text-decoration: none;
    background: teal;
    padding: 7px 7px;
    border-radius: 10%;
    color: white;

}

@media(max-width:414px){
    .poster img-none{
        
    }
}
