@font-face {
  font-family: CercoDEMO-Medium;
  src: url(../fuentes/CercoDEMO-Medium.otf);
}

@font-face {
  font-family: CercoDEMO-Regular;
  src: url(../fuentes/CercoDEMO-Regular.otf);
}

@font-face {
  font-family: CercoDEMO-Light;
  src: url(../fuentes/CercoDEMO-Light.otf);
}


body{
  background-image: url(../img/20.jpg);
  background-size: 100%;
}


a{
  font-family: CercoDEMO-Regular;
}

.text_recuerdame{
  margin-top: 10px;
  text-align: right;
  color: rgb(0, 0, 0);
}

.password_recovery{
  justify-content: center;
  color: rgb(14, 24, 67);
  
}

.password_recovery:hover{
  color: #ae8dab;
}

.form-floating{
  text-align: center;
}

.btn{
  width: 400px;
}

.btn-login{
  width: 120px;
  height: 50px;
  border-radius: 10px;
}

@media (max-width:800px) {

  .modal__container{
      padding: 2em 1.5em;
  }

  .modal__title{
      font-size: 2rem;
  }
}