@font-face {
  font-family: CercoDEMO-Medium;
  src: url(../fuentes/CercoDEMO-Medium.otf);
}

@font-face {
  font-family: CercoDEMO-Regular;
  src: url(../fuentes/CercoDEMO-Regular.otf);
}

@font-face {
  font-family: CercoDEMO-Light;
  src: url(../fuentes/CercoDEMO-Light.otf);
}


.bgPagina, .modal-content{
  background-color: #2B2D42;
  font-family: 'Open Sans', sans-serif;
}

.valid-feedback, .invalid-feedback{
  color: white;
}
