@font-face {
  font-family: CercoDEMO-Medium;
  src: url(../fuentes/CercoDEMO-Medium.otf);
}

@font-face {
  font-family: CercoDEMO-Regular;
  src: url(../fuentes/CercoDEMO-Regular.otf);
}

@font-face {
  font-family: CercoDEMO-Light;
  src: url(../fuentes/CercoDEMO-Light.otf);
}

*{
  font-family: 'Open Sans', sans-serif;
}
.bg-page{
  background-color: #383a57;
  font-family: 'Open Sans', sans-serif;
}

.nombreTitular{
  margin-top: 50px;
  letter-spacing: 13px;
  font-size: 40px;
  color: #2B2D42;
}

.datosTitular{
  letter-spacing: 2px;
  font-size: 17px;
  color: #2B2D42;
}

.imagenRoberto{
  background-image: url('https://media.ambito.com/p/20528b94a01519e57cf4d14f121c68c1/adjuntos/239/imagenes/039/850/0039850910/1200x675/smart/homerjpeg.jpeg');
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #2B2D42;
}

.imagenJuan{
  background-image: url('https://i.discogs.com/cQr7aDIN9DWT15KiDOXURBNo65Xrajt3HaOrLhcaOw0/rs:fit/g:sm/q:40/h:300/w:300/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTEwMTA4/MjMtMTMzNTcyODAx/Ni5wbmc.jpeg');
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #2B2D42;
}

.imagenValentin{
  background-image: url('https://i.discogs.com/yHpBvbF9EC7spDixBsnQFxCGg_knomElUbrkQxdqDi4/rs:fit/g:sm/q:40/h:300/w:300/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTE0MDAz/MTUtMTI2NjQ5NjEx/OS5wbmc.jpeg');
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #2B2D42;
}

.imagenAndrea{
  background-image: url('https://www.nicepng.com/png/detail/183-1834140_allisons-sax-allison-taylor-los-simpson.png');
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #2B2D42;
}

.imagenCamila{
  background-image: url('https://i.discogs.com/OPJi6KYITGiuDluSA5S_zgw4-3Leb1z5HFeqS6uV_3o/rs:fit/g:sm/q:90/h:400/w:400/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9BLTU4MTMz/Ny0xMzM1NzE4Mjcz/LnBuZw.jpeg');
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #2B2D42;
}

.infoDesarrollador{
  position:absolute;
  overflow:hidden;
  opacity:0;
  transition: opacity 0.3s;
}

.imagenRoberto:hover{
  opacity: 1;
}

.infoDesarrollador:hover{
  opacity: 1;
}

.descripcionDesarrollador{
  text-align: center;
  transition: margin-top 0.4s;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: bold;
  text-shadow: white 1px 1px;
  color: black;
}

@media (min-width: 200px) and (max-width: 768px) {

  .nombreTitular {
    margin-top: 20px;
    letter-spacing: 3px;
    font-size: 15px;
  }

  .datosTitular{
    letter-spacing: 2px;
    font-size: 10px;
  }

  .imagenRoberto {
    width: 250px;
    height: 250px;
  }

  .imagenJuan {
    width: 250px;
    height: 250px;
  }

  .imagenValentin {
    width: 250px;
    height: 250px;
  }

  .imagenAndrea {
    width: 250px;
    height: 250px;
  }

  .imagenCamila {
    width: 250px;
    height: 250px;
  }

  .infoDesarrollador {
    width: 150px;
    height: 150px;
  }

  .descripcionDesarrollador {
    letter-spacing: 2px;
    font-size: 8px;
  }

}

@media (min-width: 750px) and (max-width: 992px) {

  .nombreTitular{
    margin-top: 20px;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .datosTitular{
    letter-spacing: 2px;
    font-size: 13px;
  }

  .imagenRoberto {
    width: 350px;
    height: 350px;
  }

  .imagenJuan {
    width: 350px;
    height: 350px;
  }

  .imagenValentin {
    width: 350px;
    height: 350px;
  }

  .imagenAndrea {
    width: 350px;
    height: 350px;
  }

  .imagenCamila {
    width: 350px;
    height: 350px;
  }

  .infoDesarrollador {
    width: 250px;
    height: 250px;
  }


  .descripcionDesarrollador {
    letter-spacing: 2px;
    font-size: 13px;
  }

}

@media all and (min-width:920px) {
  .imgHab {
    height: 100vh;
  }
}