.card{
  border: none;
  border-radius: 0%;
}

.card:hover{
  transform: scale(1.1)
}

.btn{
  border: none;
}

.imgPortada{
  height: 70vh;
  z-index: -100000;
  position: relative;
}

.imgPortada:hover{
  filter: grayscale(0.5)
}

.txtcategoria{
  color: #EDF2F4;
}
.categoriasPeliculas{
  margin-top: 3em;
}

.body-background{
  background-color: #27293C; 

 }
 
 .text-peliportada1{
  position: absolute;
  top: 39%;
  margin-left: 2%;
 }

 .text-peliportada2{
  position: absolute;
  top: 45%;
  margin-left: 2%;
 }

 .contenedor{
  position: relative;
  display: inline-block;
 }

 .btn1{
  border: solid 2px #EF233C;
  background-color: #EF233C;
  color: #EDF2F4;
  position: absolute;
  top: 62%;
  margin-left: 2%;
 }
